body {
	background-color: #eaeaea;

	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 90%;
	font-weight: 400;
	color: $default-text-color;
}

a {
	text-decoration: none;
}

a:hover {
	color: #626262;
}

h1, h2, h3,
h4, h5, h6 {
	margin: 5px 0;
}

h1 {
	font-size: 2em;
	font-weight: 400;
}

hr {
	border-top: $gray-thin-border;
}

ol, ul {
	padding: 0;
	list-style: none;
}

input:focus {
	outline: none;
}

article {
	font-weight: 300;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
}

hr {
	border-style: none;
}

button {
	border: none;

	background: none;

	font-family: inherit;
	font-size: 0.8em;

	cursor: pointer;
}

button:focus {
	outline: none;
}
