.btn {
	@extend .paper;
	padding: $default-spacing;
}

.btn-linkedin {
	background-color: #0077B5;
	color: #fff;
}

.btn-linkedin:before {
	margin-right: 5px;
	font-family: FontAwesome;
	font-size: 1.2em;

	content: '\f08c';
}
