.card {
	height: 100%;
	overflow: auto;
	padding: 25px;
	box-sizing: border-box;
}

.card-picture {
	width: 150px;
	height: 150px;
	margin-right: 10px;
	float: left;
}

.card-picture img {
	box-shadow: 1px 1px 3px;
	border-radius: 0.3em;
}

.card-personal-info {
	height: 150px;
	padding: 8% 0;
	box-sizing: border-box;

	font-weight: 300;
}

.card-position {
	padding: $default-spacing 0;
	border-bottom: $gray-thin-border;
}
