.list {
	height: 100%;
	padding-top: 45px;
	margin: 0;
	box-sizing: border-box;

	border-right: $gray-thin-border;
	overflow: auto;
}

.list-search {
	position: fixed;
	width: 400px;
	top: 8px;
	padding: 10px;
	box-sizing: border-box;

	border-bottom: $gray-thin-border;
	border-right: $gray-thin-border;

	background-color: #fff;
}

.list-loading {
	height: 100%;
	padding: 60% 0;

	text-align: center;
}

.list-item {
	padding: $default-spacing;
	box-sizing: border-box;

	border-bottom: $gray-thin-border;
}

.list-item:hover, .is-list-item-active {
	border-left: 4px solid #BEB596;
	background-color: #EDF1F2;
}

.contact-item-picture {
	width: 48px;
	heigth: 48px;
	float: left;
	margin-right: $default-spacing;

	border-radius: 50%;
}

.contact-item-info-name {
	font-size: 1.3em;
	font-weight: 300;
	letter-spacing: 1px;
}

.contact-item-info-position {
	font-size: 0.8em;
}
