<div id="main">
	<div id="sidebar">
		<ul class="list">
			<li class="list-search">
				<input type="search" class="search" placeholder="Search contact..." ng-model="name">
			</li>
			<li class="list-loading" ng-if="!contacts.list.length">
				<span class="fa fa-refresh fa-spin fa-5x"></span>
			</li>
			<li class="list-item contact-item" ng-repeat="contact in contacts.list | filter:name" ng-click="contacts.select(contact)" ng-class="{'is-contact-active': contact === contacts.activeContact}">
				<img class="contact-item-picture" src="{{ contact.pictureUrl }}" alt="{{ contact.firstName }}'s avatar">
				<div class="contact-item-info">
					<span class="contact-item-info-name">{{ contact.formattedName | limitTo:29 }}</span><br>
					<span class="contact-item-info-position">{{ contact.headline | limitTo:49 }}</span>
				</div>
			</li>
		</ul>
	</div>

	<div id="content">
		<section class="card" ng-show="contacts.activeContact">
			<header>
				<figure class="card-picture">
					<img src="{{ contacts.activeContact.pictureUrls.values[0] }}" alt="{{ contacts.activeContact.firstName }}'s avatar">
				</figure>
				<div class="card-personal-info">
					<h1>{{ contacts.activeContact.formattedName }}</h1>
					<span>
						{{ contacts.activeContact.headline }}
					</span>
				</div>
			</header>

			<hr class="clear-right">

			<section ng-repeat="position in contacts.activeContact.positions.values" class="card-position">
				<header>
					<h3>{{ position.title }} at {{ position.company.name }}</h3>
				</header>
				<article>
					{{ position.summary }}
				</article>
			</section>
		</section>
	</div>
</div>
