main {
	@include gridle_container();
	margin: 0 auto;
	width: 960px;
	height: 550px;
}

#sidebar {
	@include gridle(5);
	height: 100%;
}

#content {
	@include gridle(7);
	height: 100%;
}

#login {
	margin: 10% auto;
	padding: 60px;
	display: table;

	border: 1px solid #e5e5e5;
	border-radius: 0.4em;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);

	background-color: #fff;
}

#main {
	@extend .paper;
	width: inherit;
	height: inherit;
}
